<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <label for="team_name">Team Name: </label>
  <input type="text" name="team[name]" id="team[name]">
  
  <label for="team_motto">Team Motto: </label>
  <input type="text" name="team[motto]" id="team[motto]">
  
  <h2>Hero 1</h2>
  <label for="member1_name">Hero's Name: </label>
  <input type="text" name="team[members][][name]" id="member1_name">
  
  <h2>Hero 2</h2>
  
  <h2>Hero 3</h2>
  
  
</form>
