<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <label for="team_name">Team Name: </label>
  <input type="text" name="team[name]" id="team[name]">
  
  <label for="team_motto">Team Motto: </label>
  <input type="text" name="team[motto]" id="team[motto]">
  
  
  
  
</form>
